
/* Layout */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
#body-container {
	margin-top: 50px;
}
.navbar-brand > img {
	display: inline-block;
}

#content {
	margin-top: 1em;
	margin-bottom: 1em;
}

/* Form doodads */

div.action-bar {
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;
	padding: 0.25em;
}

form button + a, form a + button {
	margin-left: 0.5em;
}

/* BaseCursorList component */

.darwino-view tr {
	cursor: pointer;
}

/* Fixes for the react-data-grid */
.rdg-child-row-action-cross-last::before, .rdg-child-row-action-cross::before, .rdg-child-row-action-cross-last::after, .rdg-child-row-action-cross::after {
    background: none!important;
}
/* .rdg-cell-expand {
	position: static!important;
	float: left!important;
} */

/* Footer */

.footer {
}
