.list__item__center {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    margin-left: 0;
    border-bottom: none;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: -webkit-linear-gradient(bottom, #ccc, #ccc 100%);
    background-image: linear-gradient(0deg, #ccc, #ccc 100%);
    padding: 12px 6px 12px 0;
    line-height: 1.2em;
    min-height: 44px;
}
.list__item__subtitle {
    opacity: 1;
    color: #6b6b6b;
    font-size: 12px;
}

.list__item__subtitle {
    opacity: 0.75;
    font-size: 14px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-item-align: start;
    align-self: flex-start;
}