<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.equinox.http.registry.servlets">
		<servlet
            alias="/playground"
            class="com.darwino.playground.domino.AppServlet">
		</servlet>
	</extension>

	<!-- Application specific Plugin -->
	<extension point="darwino.eclipse.darwinoPlugin">
		<service class="com.darwino.playground.domino.AppPlugin" />
	</extension>

	<!-- Demo web resources Plugins -->
	<extension point="darwino.eclipse.darwinoPlugin">
		<service class="com.darwino.platform.web.PluginDarwinoWeb" />
	</extension>
	<extension point="darwino.eclipse.darwinoPlugin">
		<service class="com.darwino.platform.web.PluginDarwinoDemoWeb" />
	</extension>
	<extension point="darwino.eclipse.darwinoPlugin">
		<service class="com.darwino.platform.web.tools.PluginDarwinoDemoWebTools" />
	</extension>

</plugin>
