body {
	/* cursor: url('http://ionicframework.com/img/finger.png'), auto; */
 	/*font-family: "Roboto","Helvetica Neue","Segoe UI",sans-serif;*/
 	font-family: "RobotoDraft","Helvetica Neue","Segoe UI",sans-serif;
    font-size: 16px;
 	font-weight: 300;
 	color: #757575;
}

/* Mini avatar, for a footer */
.item-miniavatar  > div {
    font-size: 80%;
    line-height: 16px
}
.item-miniavatar  > img:first-child {
    border-radius: 50%;
    max-height: 24px;
    max-width: 24px;
    top: 8px;
    left: 24px;
}

/* Maxi avatar, for a header */
.item-maxiavatar  > div {
    font-size: 80%;
    line-height: 16px
}
.item-maxiavatar  > img:first-child {
    border-radius: 50%;
    max-height: 56px;
    max-width: 56px;
    top: 8px;
    left: 24px;
}

.menu .bar.bar-header.expanded {
	background-image: url("../img/header.png");
    background-position: 0 center;
    background-size: 120% auto;
    transition: all 0.5s ease-in-out 0s;
	margin-bottom: 20px; 
}	

.menu-header-user {
	font-weight: 300;
	color: white;
	margin-top: 20px;
}
.menu-header-user-dn {
	font-size: 13px;
}
.menu-header-user-cn {
    font-size: 16px;
	font-weight: bold;
}

.item-icon-right .icon.icon-post {
	color: #9e9e9e;
    font-size: 24px;
}

.item-icon-right .icon.icon-post >i {
	vertical-align: top;
	padding: 8px 8px 8px 8px;
}

.list {
    margin-bottom: 8px;
}

.item {
    font-size: 16px;
}

.item .item-body {
	padding-top: 0;
}

.item-list-header {
	padding-bottom: 0;
}

.item-list-content {
	padding-top: 0;
	padding-bottom: 0;
}

.item-read {
 	font-weight: 300;
 	color: #757575;
}

.item-unread {
 	font-weight: 500;
 	color: black;
}

.bar .button.button-clear.button-dialog {
	color: #9e9e9e;
    font-size: 24px;
}

.dwo-left-menu .item-icon-left .icon {
	font-size: 24px;
}


.dwo-left-menu {
	color: #757575;
	background-color: white;
}

.dwo-left-menu .item {
	border: none;
	font-size: 16px;
	font-weight: 300;
} 

.dwo-left-menu .item-selected {
	background-color: #EEE;
} 

.dwo-left-menu .item-title {
	background-color: #EF4E3A;
	font-size: 20px;
	font-style: bold;
} 

.dwo-left-menu .count {
	font-style: italic;
	font-size: 80%;
} 

.dwo-left-menu .list {
	margin-bottom: 0;
} 

.dwo-left-menu .item-divider {
	font-size: 14px;
	font-weight: 300;
	border-top: 1px solid #e0e0e0 !important;
	margin-top: 3px;
} 

.dwo-date-image {
	color: white;
	font-size:8px;
	background-color: #FDD017;
	width: 12px;
	height: 10px;
	padding: 2px;
	margin-right: 6px;
}
    
.dwo-comment-message{
	font-size:14px;
	margin-top: 6px;
}

.dwo-profile-avatar {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
    height: 90px;
    width: 90px;
}

.dwo-profile-cn {
	font-size: 2em;	
	font-weight: 200;	
	text-align: center;
}

/* Panel CSS explained here: http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/  */
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.header.row { height: 75px; top: 0; }
.body.row { top: 75px; bottom: 50px; }
.footer.row { height: 50px; bottom: 0; }


/*
 * Entry attachment tables
 */
.attachment-table {
	border-collapse: collapse;
}
.attachment-table th {
	border-bottom: 0.2em solid lightgrey;
}
.attachment-table th, .attachment-table td {
	padding: 0.25em 0.5em;
}



/* Search Bar */
.search-bar-input {
	height: 100%;
	font-size: 16px;
	font-weight: 300;
	marging-top: 5px;
	marging-left: 20px;
}
.search-bar-icon {
	color: white;
	font-size: 14px;
}
