<ion-view view-title="By Date">

	<button ng-hide="isReadOnly()" class="button button-positive button-fab button-fab-bottom-right" id="fab" ng-click="entries.newPost()">
       	<i class="icon ion-android-create"></i>
   	</button>

	<ion-nav-buttons side="right">
		<div class="item-input-inset" ng-show="searchMode==1">
  			<label class="item-input-wrapper">
				<button ng-show="searchMode==1" class="button-icon ion-android-search" ng-click="executeSearch()">
				</button>
				<input type="text" placeholder="Search..." ng-model="entries.ftSearch" class="search-bar-input">
  			</label>
			<button class="button-clear button-icon ion-close" ng-click="cancelSearch()">
			</button>
		</div>
		
		<button ng-show="searchMode==0" class="button button-icon button-clear ion-search" ng-click="startSearch()">
		</button>
			
		<button ng-show="isReadOnly() && !darwino.hybrid.isHybrid()" class="button button-icon button-clear ion-log-in" onclick="window.location='auth/login.html'">
		</button>	
	</ion-nav-buttons>

 	<div class="row">
		<ion-content class="list-content col col-33">
			<div ng-include src="'templates/itemlist.html'"></div>
     	</ion-content>
		<ion-content class="col col-offset-33 col-67">
			<div ng-include src="'templates/itemdetail.html'"></div>
     	</ion-content>
	</div>  			

</ion-view>
