<div class="item-body" ng-hide="!entries.detailItem || entries.detailItem.category">
	<div ng-click="entries.selectItem(entries.detailItem)">
		<h2 ng-bind="entries.detailItem.value.subject"></h2>
	</div>
	
	<div class="item item-avatar item-icon-right">
		<img ng-src="{{entries.getPhoto(entries.detailItem)}}" alt="Photo" 
				ng-click="go('/app/user/'+entries.getUserDn(entries.detailItem))" 
				onerror="if(this.src!='$darwino-social/users/images/anonymous-photo.png') this.src = '$darwino-social/users/images/anonymous-photo.png';">
		<div ng-click="entries.selectItem(entries.detailItem)" style="width:100%">
			<h3 ng-bind-template="{{entries.getUser(entries.detailItem).getCn()}}, {{entries.detailItem.mdate|formattedDate}}"></h3>
		</div>
		<div class="icon">
			<a class="button button-clear ion-reply icon-action" ng-show="entries.canCreateDocument()" ng-click="entries.newResponse()"></a>
			<a class="button button-clear ion-android-create icon-action" ng-show="entries.canUpdateDocument()" ng-click="entries.editEntry()"></a>
			<a class="button button-clear ion-trash-a icon-action" ng-show="entries.canDeleteDocument()" ng-click="entries.deleteEntry()"></a>
		</div>
	</div>
	
	<div class="dwo-comment-message" ng-bind-html="entries.detailItem.value.body"></div>

	<p class="attachments" ng-hide="entries.getAttachments(entries.detailItem).length == 0" ng-cloak>
		<a class="subdued">Attachments</a>
		<table class="attachment-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Size</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="att in entries.getAttachments(entries.detailItem)">
					<td><a href="{{att.url}}" ng-click="openAttachment($event, att)"><span ng-bind="att.display"></span></a></td>
					<td><span ng-bind="att.mimeType"></span></td>
					<td><span ng-bind="att.length"></span></td>
				</tr>
			</tbody>
		</table>
	</p>

	<p ng-bind-template="{{entries.detailItem.children.length||0}} Response(s)"></p>

	<div ng-repeat="comment in entries.detailItem.children">
		<div class="item item-avatar item-icon-right">
			<img ng-src="{{entries.getPhoto(comment)}}" alt="Photo" 
					ng-click="go('/app/user/'+entries.getUserDn(comment))" 
					onerror="if(this.src!='$darwino-social/users/images/anonymous-photo.png') this.src = '$darwino-social/users/images/anonymous-photo.png';">
			<div ng-click="entries.selectItem(comment)" style="width:100%">
				<h2 ng-bind="comment.value.subject"></h2>
				<h3 ng-bind-template="{{entries.getUser(comment).getCn()}}, {{comment.cdate|formattedDate}}"></h3>
				<h4 ng-bind-html="comment.value.abstract"></h4>
			</div>
		</div>
	</div>
</div>
