body {
  /* cursor: url('http://ionicframework.com/img/finger.png'), auto; */
}

.pe-left-menu {
	color: black;
	background-color: white;
}

.pe-left-menu .item {
	border: none;
} 

.pe-left-menu .item-title {
	background-color: #EF4E3A;
	font-size: 20px;
	font-style: bold;
	color: white;
} 

.pe-left-menu .count {
	font-style: italic;
	font-size: 80%;
} 

.pe-left-menu .list {
	margin-bottom: 0;
} 

.pe-left-menu .item.item-divider {
	color: white;
	font-size:12px;
	text-transform: uppercase;
	background-color: #FF6450;
} 

.pe-left-menu .ion-chevron-right {
	font-size:16px;
}

.pe-left-menu .ion-chevron-down {
	font-size:16px;
}

.pe-date-image {
	color: white;
	font-size:8px;
	background-color: #FDD017;
	width: 12px;
	height: 10px;
	padding: 2px;
	margin-right: 6px;
}
    
.pe-comment-message{
	font-size:14px;
	margin-top: 6px;
}

.item-miniavatar  > img:first-child {
    border-radius: 50%;
    max-height: 24px;
    max-width: 24px;
    top: 8px;
    left: 24px;
}

.item-miniavatar  > div {
    font-size: 80%;
    line-height: 16px
}

.pe-profile-avatar {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
    height: 90px;
    width: 90px;
}

.pe-profile-cn {
	font-size: 2em;	
	font-weight: 200;	
	text-align: center;
}

/* Panel CSS explained here: http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/  */
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.header.row { height: 75px; top: 0; }
.body.row { top: 75px; bottom: 50px; }
.footer.row { height: 50px; bottom: 0; }


/*
 * Entry attachment tables
 */
.attachment-table {
	border-collapse: collapse;
}
.attachment-table th {
	border-bottom: 0.2em solid lightgrey;
}
.attachment-table th, .attachment-table td {
	padding: 0.25em 0.5em;
}